<div class="card border-primary">

  <div class="card-header text-white bg-primary custom-card-header">
    <i class="fa fa-align-justify center-vertical"></i> Roles
    <button class="icon-button float-right text-white" (click)="refreshDataSource()"><i class="fa fa-refresh fa-lg"></i> Refresh</button>
    <button class="icon-button float-right text-white" (click)="onAddUpdate(template)"><i class="fa fa-plus-square-o fa-lg"></i> Add New</button>
  </div>

  <div class="card-body">
    <table id="datatables" class="table table-striped table-bordered hover" style="width:100%">
      <thead>
        <tr>
          <th *ngFor="let header of modelHeaders; let i = index">{{header}}</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of modellist; let i = index">
          <td>{{ (i+1) }}</td>
          <td class="custom-hyperlink" (click)="onAddUpdate(template,row)"><a>{{row.Name}}</a> </td>
          <td>{{row.NormalizedName}}</td>
          <td>{{row.ConcurrencyStamp}}</td>
          <td class="custom-hyperlink" (click)="onDelete(row.Id)"><a>Delete</a> </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<ng-template #template>

  <form #f="ngForm" novalidate (ngSubmit)="onSave(f.value, f.valid)" class="was-validated">

    <div class="modal-header card-header custom-modal-header">
      <h5 class="modal-title">&nbsp;<i class="fa fa-info-circle"></i> &nbsp; Roles Details</h5>
      <button type="button" class="icon-button float-right text-white" (click)="modalRef.hide()"><i class="fa fa-remove fa-lg"></i></button>
    </div>

    <div class="modal-body">

      <div class="col-md-12">
        <div class="form-group">
          <label class="form-col-form-label">Role</label>
          <input type="text" class="form-control" id="Name" name="Name" [(ngModel)]="model.Name" required>
          <div class="invalid-feedback" [hidden]="!f.submitted">
            Role is required
          </div>
        </div>
        <div class="form-group">
          <label class="form-col-form-label">Normalized Name</label>
          <input type="text" class="form-control" id="NormalizedName" name="NormalizedName" [(ngModel)]="model.NormalizedName">
        </div>
        <div class="form-group">
          <label class="form-col-form-label">Concurrency Stamp</label>
          <input type="text" class="form-control" id="ConcurrencyStamp" name="ConcurrencyStamp" [(ngModel)]="model.ConcurrencyStamp">
        </div>
      </div>

    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Save</button>
      <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>

  </form>

</ng-template>

